AI_BASE_URL=http://localhost:20128/v1
AI_API_KEY=
JIRA_URL=https://jira.cybertech.vn
JIRA_PERSONAL_TOKEN=
CONFLUENCE_URL=https://conf.cybertech.vn
CONFLUENCE_PERSONAL_TOKEN=
CONTEXT7_API_KEY= # Optional, for context7 mcp
GITLAB_HOST=10.30.1.17
GITLAB_TOKEN=
